<div class="relative">
  <div
    class="h-[500px] sm:h-[600px] md:min-h-[700px] max-w-full  rounded-3xl"
    id="uni-splash"
  >
    <div class="absolute -top-10 left-12 z-10">
      <img src="assets/images/home/inventory/10_oz_jar.png" alt="" />
    </div>
    <div
      id="multi-bg"
      class="h-full w-full flex justify-center items-center -z-20 absolute bottom-0 bg-white rounded-3xl"
    >
      <div class="flex flex-wrap my-10 text-black">
        <h3>CAVIAR HONEY (10oz 300ml)</h3>
      </div>
    </div>
  </div>
</div>
