div {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.radial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 168, 0, 0.39) 0%,
    rgba(217, 217, 217, 0) 100%
  );
}
