<footer class="bg-[#1D1D1D]">
  <div
    class="relative px-4 py-16 mx-auto max-w-screen-xl sm:px-6 lg:px-8 lg:pt-24"
  >
    <div class="absolute top-4 sm:top-6 lg:top-8 right-4 sm:right-6 lg:right-8">
      <a
        class="inline-block p-2 text-white bg-[#f0a73a] rounded-full shadow transition sm:p-3 lg:p-4 hover:-translate-y-2"
        href=""
      >
        <span class="sr-only">Back to top</span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
    </div>

    <div class="lg:flex lg:items-end lg:justify-between">
      <div>
        <div class="flex justify-center lg:justify-start">
          <img src="/assets/icons/logo.png" alt="" class="h-20" />
        </div>

        <p
          class="max-w-md mx-auto mt-6 leading-relaxed text-center lg:text-left"
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt
          consequuntur amet culpa cum itaque neque.
        </p>
      </div>

      <nav class="mt-12 lg:mt-0" aria-labelledby="footer-navigation">
        <h2 class="sr-only" id="footer-navigation">Footer navigation</h2>

        <ul
          class="flex flex-wrap justify-center gap-6 lg:justify-end md:gap-8 lg:gap-12"
        >
          <li>
            <a
              class="block py-2 pr-4 pl-3 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-[#F1BC6C] md:p-0 relative before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-white before:transition hover:before:scale-100"
              routerLink="home"
              >Home</a
            >
          </li>

          <li>
            <button
              class="flex justify-between items-center py-2 pr-4 pl-3 w-full font-medium hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-[#F1BC6C] md:p-0 md:w-auto"
              routerLink="/home"
              (click)="onClick('products')"
            >
              <span
                class="relative before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-white before:transition hover:before:scale-100"
              >
                Products
              </span>
            </button>
          </li>

          <li>
            <a
              class="block py-2 pr-4 pl-3 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-[#F1BC6C] md:p-0 relative before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-white before:transition hover:before:scale-100"
              >Our Story</a
            >
          </li>

          <li>
            <a
              routerLink="contact"
              class="block py-2 pr-4 pl-3 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-[#F1BC6C] md:p-0 relative before:absolute before:-bottom-1 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:bg-white before:transition hover:before:scale-100"
              >Contact Us</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <p class="mt-12 text-sm text-center lg:text-right">
     &copy; Caviar Honey 2022. All rights reserved.
    </p>
  </div>
</footer>
