<div class="linear relative">
  <section class="z-20 relative text-white">
    <div
      class="max-w-screen-2xl px-4 py-16 mx-auto sm:px-6 lg:px-8 text-right relative z-0"
    >
      <div class="max-w-xl">
        <h2 class="text-left mt-32 lg:mt-72 w-min">
          <span class="text-7xl sm:text-9xl font-thin"> Unique </span>
          <br /><span class="font-extrabold text-5xl sm:text-8xl">
            Properties
          </span>
          <p class="mt-4 text-gray-300 h-2 bg-[#FFD203] w-1/2 ml-auto"></p>
        </h2>
      </div>

      <div class="grid grid-rows-3 gap-8 mt-8 items-center">
        <div
          class="block p-8 ml-auto sm:w-1/2"
          href="/services/digital-campaigns"
        >
          <div class="sm:flex sm:justify-end sm:flex-wrap gap-2">
            <img
              src="assets/images/home/properties/temperature-low-solid.png"
              alt=""
            />
            <h3 class="mt-4 text-xl font-bold text-white w-min">TEMPERATURE</h3>
          </div>

          <p class="mt-1 text-md text-gray-300">
            Honey is best stored at room temperature (somewhere between 64 to 75
            F), keeping your container of honey on a shelf or in your pantry is
            recommended. Exposing your honey to warmer temperatures, from direct
            sunlight or other type of direct heat (like your stove or oven) can
            cause darkening and subtle flavor changes so try to avoid those
            areas of your kitchen. Do not refrigerate honey. Keeping your honey
            in the refrigerator preserves it but the cool temperatures will
            cause your honey to form a semi-solid mass, so this method of
            storage is not recommended.
          </p>
        </div>

        <div class="block p-8 sm:w-1/2" href="/services/digital-campaigns">
          <img
            src="assets/images/home/properties/test_tube.png"
            alt=""
            class="ml-auto"
          />
          <h3 class="mt-4 text-xl font-bold text-white">NO SUGAR ADDED</h3>

          <p class="mt-1 text- text-gray-300">
            Put a drop of honey on your thumb. If it spreads or spills, then it
            is not pure. Pure honey is thick in texture and would remain intact
            on your thumb.
          </p>
        </div>

        <div
          class="block p-8 mx-auto sm:w-1/2"
          href="/services/digital-campaigns"
        >
          <h3 class="mt-4 text-xl font-bold text-white">NATURAL ANTI-BIOTIC</h3>

          <p class="mt-1 text-md text-gray-300">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
            possimus adipisci distinctio alias voluptatum blanditiis laudantium.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ut quo
            possimus adipisci distinctio alias voluptatum blanditiis laudantium.
          </p>
          <div>
            <img
              src="assets/images/home/properties/microscope-solid.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="relative z-20">
    <app-multi-floral></app-multi-floral>
  </div>
</div>
