<div class="relative">
  <div class="flex flex-col lg:mx-48 mx-10">
    <h1 class="sm:text-6xl text-5xl font-medium title-font mb-4">
      MULTI-FLORAL
    </h1>
    <p class="lg:w-1/2 leading-relaxed text-base">
      Our Multi Floral Honey is sourced from a region rich in herbal flowers and
      vegetation. The unique taste of Jamaican honey makes it one of the most
      desired honeys in many overseas markets. This ‘taste’ is attributed to the
      variety of tropical flora and the climatic conditions which enhance both
      the taste and colour of our honey.
    </p>
  </div>

  <div class="-mb-36 relative z-20 max-h-full overflow-hidden">
    <img
      src="/assets/images/home/floral/multifloral-bg.png"
      alt=""
      class="w-full min-h-[794px] object-cover"
    />
  </div>
</div>
