<div class="relative -mt-48">
  <div
    class="bg-gradient-to-r from-[#0000004f] via-[#00000000] to-[#00000081] absolute top-0 w-full h-full z-10"
  ></div>
  <div class="relative flex justify-center" id="plains">
    <div class="container my-96 flex flex-wrap text-white absolute z-10 p-10">
      <div class="md:w-2/5 sm:text-3xl text-2xl text-white">
        <div class="flex flex-wrap font-light">
          <p class="text-right text-3xl">
            FROM <br />
            THE <br />PLAINS
          </p>
          <span class="text-9xl font-thin">OF</span>
        </div>
        <div>
          <span class="text-5xl lg:text-7xl">CLARENDON</span><br />
          <span class="text-6xl lg:text-8xl font-extrabold">JAMAICA</span>
        </div>
      </div>

      <div class="md:w-3/5 md:pl-6">
        <div class="leading-relaxed text-xl">
          <p>
            The parish of Clarendon is known as the honey parish. The species of
            bees common in Jamaica today were originally brought by the Spanish.
            With Jamaica's wild and planted fruit, Jamaican bees create an
            incredible honey that picks up the flavour of whatever blossom the
            bees have fed on.
          </p>
        </div>
        <div class="flex md:mt-4 mt-6">
          <a class="text-white inline-flex items-center ml-4"
            >Learn More
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
