<!-- <div class="relative">
  <svg
    width="231"
    height="196"
    viewBox="0 0 231 196"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <svg:clipPath id="hex">
      <path
        d="M173.149 2H60.0896L3 97.4419L60.0896 194H173.149L228 97.4419L173.149 2Z"
        stroke="#F1BC6C"
        stroke-width="4"
      />
    </svg:clipPath>

    <image
      clip-path="url(#hex)"
      xlink:href="assets/images/home/bee.png"
      class="object-cover w-full"
    />
  </svg>
</div> -->
<div
  class="bg-[url('assets/images/home/floral/multifloral-bg.png')] bg-no-repeat w-full bg-center bg-cover min-h-[933px] border-red-900 border"
></div>
